
.logoutModal {
    /* display: none; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 80px;
    background-color: #232323;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
    color:white;
    font-size:20px;
    text-align:center;
}

/* Styling for the overlay background */
.logoutOverlay {
    /* display: none; Hide the overlay by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1;
}

.logoutButton {
margin:20px;
padding: 8px 50px;
font-size:20px;
color:#3B4868;
border-radius:20px;
background-color:#D7F5F9;
}

.logoutButton:hover{
margin:20px;
padding: 8px 50px;
font-size:20px;
color:#D7F5F9;
border-radius:20px;
background-color:#264159;
}